include README.md LICENSE CHANGELOG.md settings.yml
recursive-include snakeface *
prune snakeface/plugins
recursive-exclude snakeface secret_key.py db.sqlite3
recursive-exclude * migrations
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
