{% extends "base/page.html" %}
{% load static %}
{% block page_title %}Collections{% endblock %}
{% block content %}
<!-- TODO: this should update automatically with websockets or similar -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header ">
                    <p class="card-category">{{ BACKENDS_ENABLED }}</p>
                </div>
                <div class="card-body">
                    {% if collections %}<table id="taskTable" class="tablesorter table table-striped" width="100%">
                      <thead>
                        <tr>
                           <th class="text-nowrap" width="30%">Name</th>
                           <th width="35%">Executor</th>
                       </tr>
                      </thead>
                      <tbody>{% for collection in collections %}
                          <tr>
                            <td>{{ collection.name }}</td>
                            <td>{{ collection.repository }}</td>
                          </tr>
                      {% endfor %}</tbody>
                    </table>{% else %}
                    <p>You don't have any Snakemake workflow collections. Why don't you <a href="{% url 'main:new_collection' %}">create one</a>?</p>
                    {% endif %}
               </div>
               {% if collections %}<div class="card-footer ">
                  <div class="legend">
                     <i class="fa fa-circle text-success"></i> Completed
                     <i class="fa fa-circle text-info"></i> Running
                     <i class="fa fa-circle text-danger"></i> Error
                     <i class="fa fa-circle text-warning"></i> Warning
                  </div>
                  <hr>
                  <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                 </div>{% endif %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    {% if tasks %}$("#taskTable").dataTable({"pageLength": 10, "lengthMenu": [[10,15,20,25], [10,15,20,25]]});{% endif %}
});
</script>
{% endblock %}
