{% extends "base/page.html" %}
{% load crispy_forms_tags %}
{% load my_filters %}
{% load static %}
{% block page_title %}Collection > {{ collection.name }}{% endblock %}
{% block css %}
<style>
code {
    color: rgb(0, 123, 255);
    display: inline-block;
    max-width: 1400px;
    padding: 10px;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
    {% if workflow.dag %}<div class="col-md-4">
        <div class="card">
           <div class="card-body">
           {{ workflow.dag | safe }}
           </div>
        </div>
    </div>{% endif %}
    <div class="col-md-{% if workflow.dag %}8{% else %}12{% endif %}">
        <div class="card">
           <div class="card-body">
           <table class="tablesorter table table-striped" width="100%">
              <tbody>
                   {% if workflow.snakefile %}<tr>
                      <td>Snakefile</td>
                      <td>{{ workflow.snakefile }}</td>
                   </tr>{% endif %}
                   {% if workflow.workdir %}<tr>
                      <td>Workdir</td>
                      <td>{{ workflow.workdir }}</td>
                   </tr>{% endif %}
                   {% if workflow.command %}<tr>
                      <td>Command</td>
                      <td><code>{{ workflow.command }}</code></td>
                   </tr>{% endif %}
                   {% if request.user.is_authenticated and request.user in workflow.owners.all %}<tr>
                      <td>WMS_MONITOR_TOKEN</td>
                      <td><code>{{ request.user.token }}</code></td>
                   </tr>
                   <tr>
                      <td>Command Line Interaction</td>
                      <td><p>To interact with this workflow from the command line, export this variable and provide the following extra arguments</p> <br><br>
<code>--wms-monitor {{ DOMAIN }} --wms-monitor-arg id={{ workflow.id }}</code></td>
                   </tr>{% endif %}
              </tbody>
           </table>              
           </div>
        </div>
    </div>
</div>

{% if workflow.workflowstatus_set.count > 0 %}<div class="row">
    <div class="col">
        <div class="card">
           <div class="card-body">
               <div class="row">
                   {% if workflow.workflowstatus_set.count > 0 %}<div class="col-md-12">
                   {% include "workflows/workflow_run_table.html" %}
                   </div>{% endif %}
               </div>
           </div>
        </div>
    </div>
</div>{% endif %}

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
   {% if workflow.workflowstatus_set.count > 0 %}$("#taskTable").DataTable({"pageLength": 25});{% endif %}
});
</script>
{% endblock %}
