{% extends "base/base.html" %}
{% load static %}
{% block container %}
    <div class="wrapper">
        {% include "base/sidebar.html" %}
        <div class="main-panel">
            {% include "base/navigation.html" %}
            <div class="content">
                <div class="container-fluid">
                   {% block content %}{% endblock %}
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                       <ul>
                           <li style="float:right; padding-left:30px" ><a href="https://twitter.com/johanneskoester"><i class="icon ti ti-twitter-alt"></i></a></li>
                       </ul>
                       <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="https://github.com/snakemake">Snakemake</a>, made with love for better workflows.
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
