{% load static %}
        <div class="sidebar" data-image="{% static 'img/hero.png' %}" data-color="green">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="https://github.com/snakemake" class="simple-text">
                        Snakeface
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'base:dashboard' %}">
                            <p>Workflows</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">
                            <p>Executors</p>
                        </a>
                    </li>
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="{% url 'users:logout' %}">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
